
.yllw-contribution-sidebar {
  background-color: $white-milk;
}

.yllw-contribution-links--brand {
  width: 100%;
  text-align: left;
  color: $blue;

}

.yllw-contribution-links {
  width: 100%;
  text-align: left;
  color: $blue;
  background-color: $white-milk;
}
