.yllw-pricing-getting-money-info {
  background-color: $grey;
}

.yllw-pricing-getting-money-info__image {
  width: 100%;
}

.yllw-pricing-getting-money-info__heading {
  @extend .slds-text-heading--large;
  @extend .slds-text-align--center;
  @extend .slds-m-vertical--medium;
  color: $blue-ultra-dark;
}

.yllw-pricing-getting-money-info__heading--medium {
  @extend .slds-text-heading--medium;
  @extend .slds-text-align--center;
  color: $blue-ultra-dark;
}

.yllw-pricing-getting-money-info__text {
  @extend .slds-text-body--regular;
  color: $grey-mid;
}

.yllw-pricing-getting-money-info__text--bold-uppercase {
  @extend .slds-m-vertical--x-small;
  font-weight: bold;
  text-transform: uppercase;
}
