
.yllw-new-password-form {
  background-color: $grey;
}

.yllw-new-password-form__pane {
  background-color: $grey-dark;
  @extend .slds-form--inline;
}

.yllw-new-password-form__text {
  @extend .slds-text-body--regular;
}

.yllw-new-password-form__change-button {
  @extend .slds-button;
  @extend .slds-button--brand;
}

.yllw-new-password-form__transparent-button {
  @extend .slds-button;
  @extend .slds-button--brand;
  color: #f79304;
  background:rgba(0,0,0,0);
  border: solid #f79304;
  border-width: thin;
  &:hover,
  &:focus,
  &:active {
    color: white;
    background: #f79304;
  }
}

.yllw-new-password-form__input {
  @extend .slds-input;
}

.yllw-new-password-form__input-has-icon {
  @extend .slds-input-has-icon;
  @extend .slds-input-has-icon--left;
}

.yllw-new-password-form__icon {
  @extend .slds-input__icon;
  @extend .slds-icon-text-default;
}
