$blue: #009CDE;
$blue-dark: #0431B4;
$blue-light: #58ACFA;
$blue-ultra-light: #CEECF5;
$blue-midnight: #3a87ad;
$blue-ultra-dark: #2a415e;
$grey: #eff3f6;
$grey-mid: #50657a;
$grey-dark: #dae0e8;
$grey-ultra-dark: #2E2E2E;
$grey-warm: #D8D8D8;
$green-mid: #81F79F;
$green-dark: #529138;
$green-light: #c3e496;
$orange: #f89406;
$orange-light: #FACD86;
$orange-dark: #FF8000;
$orange-mid: #FAAC58;
$orange-dark: #FF8000;
$white-milk: #f5f5f5;
